/**
 * Skins
 *  - Backgrounds
 *  - Colors
 *  - Border colors
 *  - SVG fills
 *  - SVG Strokes
 */

/**
 * Backgrounds
 */
.bg-navy {    background-color: $navy; }
.bg-blue {    background-color: $blue; }
.bg-aqua {    background-color: $aqua; }
.bg-teal {    background-color: $teal; }
.bg-olive {   background-color: $olive; }
.bg-green {   background-color: $green; }
.bg-lime {    background-color: $lime; }
.bg-yellow {  background-color: $yellow; }
.bg-orange {  background-color: $orange; }
.bg-red {     background-color: $red; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple {  background-color: $purple; }
.bg-maroon {  background-color: $maroon; }
.bg-white {   background-color: $white; }
.bg-gray {    background-color: $gray; }
.bg-silver {  background-color: $silver; }
.bg-black {   background-color: $black; }

.bg-bitbucket {                 background-color: #274970 !important; }
.bg-facebook {                  background-color: #3B5998 !important; }
.bg-google {                    background-color: #D34836 !important; }
.bg-github {                    background-color: #464646 !important; }
.bg-linkedin {                  background-color: #0077B5 !important; }
.bg-twitter {                   background-color: #1DCAFF !important; }
.bg-pink {                      background-color: #E83E8C !important; }
.bg-orange {                    background-color: #FD7E14 !important; }
.bg-laravel {                   background-color: #F4645F !important; }
.bg-softgreen {                 background-color: #39C5BB !important; }
.bg-switch {                    background-color: #2F3437 !important; }
.bg-pikachu {                   background-color: #FFD547 !important; }
.bg-eevee {                     background-color: #E7AF56 !important; }
.bg-ch-new-year-2019-red {      background-color: #A61723 !important; }
.bg-ch-new-year-2019-yellow {   background-color: #D8B06A !important; }
.bg-devotion {                  background-color: #F11541 !important; }
.bg-windows-10-error {          background-color: #007BD0 !important; }
.bg-windows-10-testing-error {  background-color: #107C10 !important; }
.bg-pink-secondary {            background-color: #F8C0C8 !important; }

/**
 * Backgrounds Images
 */
.bg-img-star { background-image: url('../../../../public/img/frontend/background/background-star.gif'); }
.bg-img-rock { background-image: url('../../../../public/img/frontend/background/background-rock.jpg'); }

/**
 * Colors
 */
.navy {       color: $navy; }
.blue {       color: $blue; }
.aqua {       color: $aqua; }
.teal {       color: $teal; }
.olive {      color: $olive; }
.green {      color: $green; }
.lime {       color: $lime; }
.yellow {     color: $yellow; }
.orange {     color: $orange; }
.red {        color: $red; }
.fuchsia {    color: $fuchsia; }
.purple {     color: $purple; }
.maroon {     color: $maroon; }
.white {      color: $white; }
.silver {     color: $silver; }
.gray {       color: $gray; }
.black {      color: $black; }

.color-switch {                     color:#2F3437 !important; }
.color-pikachu {                    color:#FFD547 !important; }
.color-eevee {                      color:#E7AF56 !important; }
.color-ch-new-year-2019-red {       color:#A61723 !important; }
.color-ch-new-year-2019-yellow {    color:#D8B06A !important; }
.color-pink {                       color:#FF5376 !important; }

/**
 * Border colors
 * Use with another border utility that sets border-width and style
 * i.e .border { border-width: 1px; border-style: solid; }
 */
.border--navy {    border-color: $navy; }
.border--blue {    border-color: $blue; }
.border--aqua {    border-color: $aqua; }
.border--teal {    border-color: $teal; }
.border--olive {   border-color: $olive; }
.border--green {   border-color: $green; }
.border--lime {    border-color: $lime; }
.border--yellow {  border-color: $yellow; }
.border--orange {  border-color: $orange; }
.border--red {     border-color: $red; }
.border--fuchsia { border-color: $fuchsia; }
.border--purple {  border-color: $purple; }
.border--maroon {  border-color: $maroon; }
.border--white {   border-color: $white; }
.border--gray {    border-color: $gray; }
.border--silver {  border-color: $silver; }
.border--black {   border-color: $black; }

/**
 * Fills for SVG
 */
.fill-navy {    fill: $navy; }
.fill-blue {    fill: $blue; }
.fill-aqua {    fill: $aqua; }
.fill-teal {    fill: $teal; }
.fill-olive {   fill: $olive; }
.fill-green {   fill: $green; }
.fill-lime {    fill: $lime; }
.fill-yellow {  fill: $yellow; }
.fill-orange {  fill: $orange; }
.fill-red {     fill: $red; }
.fill-fuchsia { fill: $fuchsia; }
.fill-purple {  fill: $purple; }
.fill-maroon {  fill: $maroon; }
.fill-white {   fill: $white; }
.fill-gray {    fill: $gray; }
.fill-silver {  fill: $silver; }
.fill-black {   fill: $black; }

/**
 * Strokes for SVG
 */
.stroke-navy {    stroke: $navy; }
.stroke-blue {    stroke: $blue; }
.stroke-aqua {    stroke: $aqua; }
.stroke-teal {    stroke: $teal; }
.stroke-olive {   stroke: $olive; }
.stroke-green {   stroke: $green; }
.stroke-lime {    stroke: $lime; }
.stroke-yellow {  stroke: $yellow; }
.stroke-orange {  stroke: $orange; }
.stroke-red {     stroke: $red; }
.stroke-fuchsia { stroke: $fuchsia; }
.stroke-purple {  stroke: $purple; }
.stroke-maroon {  stroke: $maroon; }
.stroke-white {   stroke: $white; }
.stroke-gray {    stroke: $gray; }
.stroke-silver {  stroke: $silver; }
.stroke-black {   stroke: $black; }

/**
 * Text Stroke
 */
.text-black-stroke {
    -webkit-text-stroke: 1px black;
    color: #00FF00;
    text-shadow:
        3px 3px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}
