# |--------------------------------------------------------------------------
# | 基本設定
# |--------------------------------------------------------------------------
APP_READ_ONLY=false
APP_NAME="純靠北工程師"
APP_ENV=local
# APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=zh-TW
APP_FALLBACK_LOCALE=zh-TW
APP_LOCALE_PHP=zh-TW
APP_TIMEZONE=Asia/Taipei
LOG_CHANNEL=stack

DEBUGBAR_ENABLED=false
SINGLE_LOGIN=true

# |--------------------------------------------------------------------------
# | 資料庫設定
# |--------------------------------------------------------------------------
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

# |--------------------------------------------------------------------------
# | 自動備份 資料庫
# |--------------------------------------------------------------------------
BACKUP_DB_ACTIVE=false
# MYSQLDUMP_PATH=
# BACKUP_DB_DATABASE=
# BACKUP_DB_USERNAME=
# BACKUP_DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

# |--------------------------------------------------------------------------
# | Redis at: https://redis.io
# |--------------------------------------------------------------------------
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# |--------------------------------------------------------------------------
# | 系統信件
# |--------------------------------------------------------------------------
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=Example

# |--------------------------------------------------------------------------
# | AWS at: https://aws.amazon.com
# |--------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

# |--------------------------------------------------------------------------
# | Pusher App at: https://pusher.com
# |--------------------------------------------------------------------------
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# |--------------------------------------------------------------------------
# | Access
# |--------------------------------------------------------------------------
ENABLE_REGISTRATION=true
CHANGE_EMAIL=false
PASSWORD_HISTORY=3
PASSWORD_EXPIRES_DAYS=30

# |--------------------------------------------------------------------------
# | This should be one or the other, or neither
# |--------------------------------------------------------------------------
REQUIRES_APPROVAL=false
CONFIRM_EMAIL=true

# |--------------------------------------------------------------------------
# | Get your credentials at: https://www.google.com/recaptcha/admin
# |--------------------------------------------------------------------------
CONTACT_CAPTCHA_STATUS=false
REGISTRATION_CAPTCHA_STATUS=false
LOGIN_CAPTCHA_STATUS=false

INVISIBLE_RECAPTCHA_SITEKEY=
INVISIBLE_RECAPTCHA_SECRETKEY=
INVISIBLE_RECAPTCHA_BADGEHIDE=false
INVISIBLE_RECAPTCHA_DATABADGE='bottomright'
INVISIBLE_RECAPTCHA_TIMEOUT=5
INVISIBLE_RECAPTCHA_DEBUG=false

# |--------------------------------------------------------------------------
# | 社群平台登入設定
# |--------------------------------------------------------------------------
FACEBOOK_ACTIVE=false
#FACEBOOK_CLIENT_ID=
#FACEBOOK_CLIENT_SECRET=
#FACEBOOK_REDIRECT="${APP_URL}/login/facebook/callback"

BITBUCKET_ACTIVE=false
#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT="${APP_URL}/login/bitbucket/callback"

GITHUB_ACTIVE=false
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
# GITHUB_REDIRECT="${APP_URL}/login/github/callback"

GOOGLE_ACTIVE=false
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
#GOOGLE_REDIRECT="${APP_URL}/login/google/callback"

LINKEDIN_ACTIVE=false
#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT="${APP_URL}/login/linkedin/callback"

TWITTER_ACTIVE=false
#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT="${APP_URL}/login/twitter/callback"

# |--------------------------------------------------------------------------
# | 社群平台發文設定
# |--------------------------------------------------------------------------
FACEBOOK_PRIMARY_CREATE_POST=false
#FACEBOOK_PRIMARY_USER_ID=
#FACEBOOK_PRIMARY_APP_ID=
#FACEBOOK_PRIMARY_APP_SECRET=
#FACEBOOK_PRIMARY_GRAPH_VERSION=
#FACEBOOK_PRIMARY_ACCESS_TOKEN=
#FACEBOOK_PRIMARY_SOCIAL_URL=
#FACEBOOK_PRIMARY_POST_PATH=
#FACEBOOK_PRIMARY_POST_PATH="${FACEBOOK_PRIMARY_SOCIAL_URL}photos/"

FACEBOOK_SECONDARY_CREATE_POST=false
#FACEBOOK_SECONDARY_USER_ID=
#FACEBOOK_SECONDARY_APP_ID=
#FACEBOOK_SECONDARY_APP_SECRET=
#FACEBOOK_SECONDARY_GRAPH_VERSION=
#FACEBOOK_SECONDARY_ACCESS_TOKEN=
#FACEBOOK_SECONDARY_SOCIAL_URL=
#FACEBOOK_SECONDARY_POST_PATH="${FACEBOOK_SECONDARY_SOCIAL_URL}photos/"

TWITTER_CREATE_POST=false
#TWITTER_CONSUMER_KEY=
#TWITTER_CONSUMER_SECRET=
#TWITTER_ACCESS_TOKEN=
#TWITTER_ACCESS_TOKEN_SECRET=
#TWITTER_SOCIAL_URL=
#TWITTER_POST_PATH="${TWITTER_SOCIAL_URL}status/"

PLURK_CREATE_POST=false
#PLURK_CLIENT_ID=
#PLURK_CLIENT_SECRET=
#PLURK_TOKEN=
#PLURK_TOKEN_SECRET=
#PLURK_SOCIAL_URL=
#PLURK_POST_PATH="https://www.plurk.com/p/"

# |--------------------------------------------------------------------------
# | META 設定
# |--------------------------------------------------------------------------
#META_FACEBOOK_APP_ID=
#META_GOOGLE_SITE_VERIFICATION=
#META_OG_TYPE=
#META_OG_TITLE=
#META_OG_IMAGE=
#META_OG_DESCRIPTION=
#META_OG_KEYWORD=

# |--------------------------------------------------------------------------
# | 其他設定
# |--------------------------------------------------------------------------
#GOOGLE_ANALYTICS=
#FACEBOOK_PAGE_ID=
#IP_ADDRESS_REPORT=false
