/node_modules

/public/ads.txt
/public/app-ads.txt
/public/.htaccess
/public/hot
/public/storage
/public/.well-known
/public/json/social/*

/storage/*.key
/storage/backups/*
/storage/geo/*

/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.backup
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage
.phpunit.result.cache
*.rnd
