/**
 * Social Cards specific styles
 */

.social-cards {

    .cards {
        .cards-image {
            img {
                max-height: 400px;
            }
        }

        .cards-content {
            img {
                width: 64px;
                height: 64px;
                background-image: url('../../../../public/img/frontend/background/animated-rainbow.gif');
            }

            .avatar {
                width: 128px;
            }

            .content {
                font-size: 1.5rem;
                padding-left: 1.5rem;
            }
        }

        .cards-comments {
            img {
                width: 64px;
                height: 64px;
                background-image: url('../../../../public/img/frontend/background/animated-rainbow.gif');
            }

            .avatar {
                max-width: 128px;
            }

            .content {
                font-size: 1.5rem;
                padding-left: 1.0rem;
            }
        }
    }
}

.blueimp-gallery {
    a {
        color: white !important;
        font-size: 4rem !important;
        opacity: 1;
    }

    a:hover {
        color: white !important;
        opacity: .8 !important;
    }
}
