/**
 * Buttons
 */

a, span, button {

    &.btn-bg {
        color: var(--font-primary-color);
        background-color: var(--background-primary);

        &:active {
            color: var(--font-primary-color-dark);
            background-color: var(--background-primary-dark);
        }

        &:hover {
            color: var(--font-primary-color);
            background-color: var(--background-primary-dark);
        }
    }

    &.btn-primary-bg {
        color: var(--font-primary-color);
        background-color: var(--color-primary);

        &:active {
            color: var(--font-primary-color-dark);
            background-color: var(--color-primary-dark);
        }

        &:hover {
            color: var(--font-primary-color);
            background-color: var(--color-primary-dark);
        }
    }

    &.btn-info-bg {
        color: var(--color-dark);
        background-color: var(--color-info);

        &:active {
            color: var(--color-dark-dark);
            background-color: var(--color-info-dark);
        }

        &:hover {
            color: var(--color-dark-dark);
            background-color: var(--color-info-dark);
        }
    }

    &.btn-success-bg {
        color: var(--color-dark);
        background-color: var(--color-success);

        &:active {
            color: var(--color-dark-dark);
            background-color: var(--color-success-dark);
        }

        &:hover {
            color: var(--color-dark-dark);
            background-color: var(--color-success-dark);
        }
    }

    &.btn-danger-bg {
        color: var(--color-dark);
        background-color: var(--color-danger);

        &:active {
            color: var(--color-dark-dark);
            background-color: var(--color-danger-dark);
        }

        &:hover {
            color: var(--color-dark-dark);
            background-color: var(--color-danger-dark);
        }
    }

    &.btn-warning-bg {
        color: var(--color-dark);
        background-color: var(--color-warning);

        &:active {
            color: var(--color-dark-dark);
            background-color: var(--color-warning-dark);
        }

        &:hover {
            color: var(--color-dark-dark);
            background-color: var(--color-warning-dark);
        }
    }

    &.btn-dark-bg {
        color: var(--color-light);
        background-color: var(--color-dark);

        &:active {
            color: var(--color-light-light);
            background-color: var(--color-dark-dark);
        }

        &:hover {
            color: var(--color-light-light);
            background-color: var(--color-dark-dark);
        }
    }

    &.btn-light-bg {
        color: var(--color-dark);
        background-color: var(--color-light);

        &:active {
            color: var(--color-dark-dark);
            background-color: var(--color-light-dark);
        }

        &:hover {
            color: var(--color-dark-dark);
            background-color: var(--color-light-dark);
        }
    }

    &.btn-gray-bg {
        color: var(--color-dark);
        background-color: var(--color-gray);

        &:active {
            color: var(--color-dark-dark);
            background-color: var(--color-gray-dark);
        }

        &:hover {
            color: var(--color-dark-dark);
            background-color: var(--color-gray-dark);
        }
    }

    &.btn-bitbucket {
        color: white;
        background-color: #274970;

        &:active {
            color: darkgrey;
            background-color: #192F48;
        }
    }

    &.btn-facebook {
        color: white;
        background-color: #3B5998;

        &:active {
            color: darkgrey;
            background-color: #263961;
        }
    }

    &.btn-google {
        color: white;
        background-color: #D34836;

        &:active {
            color: darkgrey;
            background-color: #872E23;
        }
    }

    &.btn-github {
        color: white;
        background-color: #464646;

        &:active {
            color: darkgrey;
            background-color: #2D2D2D;
        }
    }

    &.btn-linkedin {
        color: white;
        background-color: #0077B5;

        &:active {
            color: darkgrey;
            background-color: #004C74;
        }
    }

    &.btn-twitter {
        color: white;
        background-color: #1DCAFF;

        &:active {
            color: darkgrey;
            background-color: #1381A3;
        }
    }

    &.btn-plurk {
        color: white;
        background-color: #FF4E47;

        &:active {
            color: darkgrey;
            background-color: #A3322E;
        }
    }

    &.btn-tumblr {
        color: white;
        background-color: #34526f;

        &:active {
            color: darkgrey;
            background-color: #294158;
        }
    }

    &.btn-telegram {
        color: white;
        background-color: #0088cc;

        &:active {
            color: darkgrey;
            background-color: #006ca3;
        }
    }

    &.btn-pink {
        color: white;
        background-color: #E83E8C;

        &:active {
            color: darkgrey;
            background-color: #94285A;
        }
    }

    &.btn-orange {
        color: white;
        background-color: #FD7E14;

        &:active {
            color: darkgrey;
            background-color: #A2510D;
        }
    }

    &.btn-laravel {
        color: white;
        background-color: #F4645F;

        &:active {
            color: darkgrey;
            background-color: #9C403D;
        }
    }

    &.btn-softgreen {
        color: white;
        background-color: #39C5BB;

        &:active {
            color: darkgrey;
            background-color: #257E77;
        }
    }

    &.btn-switch {
        color: white;
        background-color: #2F3437;

        &:active {
            color: darkgrey;
            background-color: #1E2223;
        }
    }

    &.btn-pikachu {
        color: white;
        background-color: #FFD547;

        &:active {
            color: darkgrey;
            background-color: #A3882E;
        }
    }

    &.btn-eevee {
        color: white;
        background-color: #E7AF56;

        &:active {
            color: darkgrey;
            background-color: #937037;
        }
    }

    &.btn-ch-new-year-2019-red {
        color: white;
        background-color: #A61723;

        &:active {
            color: darkgrey;
            background-color: #6A0F17;
        }
    }

    &.btn-ch-new-year-2019-yellow {
        color: white;
        background-color: #D8B06A;

        &:active {
            color: darkgrey;
            background-color: #8A7144;
        }
    }

    &.btn-devotion {
        color: white;
        background-color: #F11541;

        &:active {
            color: darkgrey;
            background-color: #9A0E2A;
        }
    }

    &.btn-windows-10-error {
        color: white;
        background-color: #007BD0;

        &:active {
            color: darkgrey;
            background-color: #004F85;
        }
    }

    &.btn-dos {
        background: #bbb;
        border-radius: 0em;
        box-shadow: 10px 10px 0 #333;

        &:active {
            margin: 10px 0 10px 10px;
            outline: 0;
            box-shadow: 0 0 0;
        }

        &.active {
            background-image: url('../../../../public/img/frontend/background/animated-rainbow.gif');
        }
    }

    &.btn-platform {
        color: white;
        background-color: #21897E;

        &:active {
            color: darkgrey;
            background-color: #155851;
        }
    }

    &.btn-rainbow {
        color: white;
        background-image: url('../../../../public/img/frontend/background/animated-rainbow.gif');

        &:active {
            color: darkgrey;
        }
    }
}
