/**
 * Textareas
 */

textarea {

    &.cards-editor {
        font-size: 2em;
        background-color: #000000;
        color: lightgray;

        &.thesis {
            font-size: 1.15em;
        }

        &:focus {
            background-color: #232323;
            color: lightgray;
            opacity: 1;
        }
    }

}
