.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar {
    .img-avatar {
        height: 1.6em;
    }

    .dropdown-menu {
        background-color: #666666;

        .dropdown-item {
            color: white;

            &:hover {
                background-color: #454545;
            }
        }
    }
}

.navbar-toggler {
    border: none;
    background: transparent !important;

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }

        .middle-bar {
            opacity: 1;
        }

        .bottom-bar {
            transform: rotate(0);
        }
    }
}

/* change the link color and padding  */
.navbar-full-bg .navbar-nav .nav-link {
    padding: .75rem 1rem;
}

/* change the color and background color of active links */
.navbar-full-bg .nav-item.active .nav-link,
.navbar-full-bg .nav-item:hover .nav-link,
.navbar-full-bg .nav-item .active {
    color: #ffffff;
    background-color: #333333;
}
