/**
 * Dark Mode
 */
.theme-dark {
    --theme-color-int: 0;
    --theme-color-reverse-int: 255;

    --background-primary: #161612;
    --background-secondary: #2d2d25;
    --color-primary: #44adff;
    --color-info: #4dd0e1;
    --color-success: #74ffe0;
    --color-danger: #fc8976;
    --color-warning: #f1c40f;
    --color-dark: #2c3e50;
    --color-light: #bdc3c7;
    --color-gray: #95a5a6;
    --font-primary-color: #edf5fc;
    --font-secondary-color: #e0e1dd;

    --background-primary-dark: #131310;
    --background-secondary-dark: #282821;
    --color-primary-dark: #3d9be5;
    --color-info-dark: #45bbca;
    --color-success-dark: #68e5c9;
    --color-danger-dark: #e27b6a;
    --color-warning-dark: #d8b00d;
    --color-dark-dark: #273748;
    --color-light-dark: #aaafb3;
    --color-gray-dark: #869495;
    --font-primary-color-dark: #d5dce2;
    --font-secondary-color-dark: #c9cac6;

    --background-primary-light: #2d2d29;
    --background-secondary-light: #42423a;
    --color-primary-light: #56b5ff;
    --color-info-light: #5ed4e4;
    --color-success-light: #81ffe3;
    --color-danger-light: #fc9483;
    --color-warning-light: #f2c926;
    --color-dark-light: #415161;
    --color-light-light: #c3c9cc;
    --color-gray-light: #9faeae;
    --font-primary-color-light: #eef6fc;
    --font-secondary-color-light: #e3e4e0;
}
