body {
    --color-alpha-dark-90: rgba(0, 0, 0, 0.9);
    --color-alpha-dark-80: rgba(0, 0, 0, 0.8);
    --color-alpha-dark-70: rgba(0, 0, 0, 0.7);
    --color-alpha-dark-60: rgba(0, 0, 0, 0.6);
    --color-alpha-dark-50: rgba(0, 0, 0, 0.5);
    --color-alpha-dark-40: rgba(0, 0, 0, 0.4);
    --color-alpha-dark-30: rgba(0, 0, 0, 0.3);
    --color-alpha-dark-20: rgba(0, 0, 0, 0.2);
    --color-alpha-dark-10: rgba(0, 0, 0, 0.1);

    --color-alpha-light-90: rgba(255, 255, 255, 0.9);
    --color-alpha-light-80: rgba(255, 255, 255, 0.8);
    --color-alpha-light-70: rgba(255, 255, 255, 0.7);
    --color-alpha-light-60: rgba(255, 255, 255, 0.6);
    --color-alpha-light-50: rgba(255, 255, 255, 0.5);
    --color-alpha-light-40: rgba(255, 255, 255, 0.4);
    --color-alpha-light-30: rgba(255, 255, 255, 0.3);
    --color-alpha-light-20: rgba(255, 255, 255, 0.2);
    --color-alpha-light-10: rgba(255, 255, 255, 0.1);
}
