/**
 * Light Mode
 */
.theme-light {
    --theme-color-int: 255;
    --theme-color-reverse-int: 0;

    --background-primary: #ced4da;
    --background-secondary: #f8f9fa;
    --color-primary: #198eff;
    --color-info: #00bcd4;
    --color-success: #4fe3c1;
    --color-danger: #fc5437;
    --color-warning: #f39c12;
    --color-dark: #34495e;
    --color-light: #ecf0f1;
    --color-gray: #7f8c8d;
    --font-primary-color: #000000;
    --font-secondary-color: #272e3f;

    --background-primary-dark: #b9bec4;
    --background-secondary-dark: #dfe0e1;
    --color-primary-dark: #167fe5;
    --color-info-dark: #00a9be;
    --color-success-dark: #47ccad;
    --color-danger-dark: #e24b31;
    --color-warning-dark: #da8c10;
    --color-dark-dark: #2e4154;
    --color-light-dark: #d4d8d8;
    --color-gray-dark: #727e7e;
    --font-primary-color-dark: #000000;
    --font-secondary-color-dark: #232938;

    --background-primary-light: #d2d8dd;
    --background-secondary-light: #f8f9fa;
    --color-primary-light: #2f99ff;
    --color-info-light: #19c2d8;
    --color-success-light: #60e5c7;
    --color-danger-light: #fc654b;
    --color-warning-light: #f4a529;
    --color-dark-light: #485b6e;
    --color-light-light: #edf1f2;
    --color-gray-light: #8b9798;
    --font-primary-color-light: #191919;
    --font-secondary-color-light: #3c4252;
}
