/**
 * Basic website settings.
 *
 * E.x. font-family, etc...
 */

@font-face {
    font-family: 'Auraka';
    src: url('/fonts/Auraka.ttf');
    // src: url('https://kaobei.engineer/fonts/Auraka.ttf');
}

@font-face {
    font-family: 'MBitmapRoundHK';
    src: url('/fonts/MBitmapRoundHK-Light.otf');
    // src: url('https://kaobei.engineer/fonts/MBitmapRoundHK-Light.otf');
}

@font-face {
    font-family: 'KC24M';
    src: url('/fonts/kc24m.ttf');
    // src: url('https://kaobei.engineer/fonts/kc24m.ttf');
}

@font-face {
    font-family: 'Zfull';
    src: url('/fonts/Zfull-GB.ttf');
    // src: url('https://kaobei.engineer/fonts/Zfull-GB.ttf');
}

@font-face {
    font-family: 'Mingliu';
    src: url('/fonts/mingliu.ttc');
    // src: url('https://kaobei.engineer/fonts/mingliu.ttc');
}

@font-face {
    font-family: 'Harmonic';
    src: url('/fonts/ZHS-Harmonic.ttf');
    // src: url('https://kaobei.engineer/fonts/ZHS-Harmonic.ttf');
}

@font-face {
    font-family: 'kaiu';
    src: url('/fonts/kaiu.ttf');
    // src: url('https://kaobei.engineer/fonts/kaiu.ttf');
}

@font-face {
    font-family: 'Microsoft JhengHei';
    src: url('/fonts/microsoft_jheng_hei.ttf');
    // src: url('https://kaobei.engineer/fonts/microsoft_jheng_hei.ttf');
}

@font-face {
    font-family: 'MatissePro EB';
    src: url('/fonts/FOT-MatissePro-EB.otf');
    // src: url('https://kaobei.engineer/fonts/FOT-MatissePro-EB.otf');
}

@font-face {
    font-family: 'DOS';
    src: url('/fonts/Fixedsys500c.eot')  format("eot"),
         url('/fonts/Fixedsys500c.woff') format('woff'),
         url('/fonts/Fixedsys500c.ttf')  format('truetype'),
         url('/fonts/Fixedsys500c.svg')  format('svg');
    // src: url('https://kaobei.engineer/fonts/Fixedsys500c.eot')  format("eot"),
    //      url('https://kaobei.engineer/fonts/Fixedsys500c.woff') format('woff'),
    //      url('https://kaobei.engineer/fonts/Fixedsys500c.ttf')  format('truetype'),
    //      url('https://kaobei.engineer/fonts/Fixedsys500c.svg')  format('svg');
}
