/**
 * Basic website settings.
 *
 * E.x. font-family, etc...
 */

body {
    color: var(--font-primary-color);
    background-color: var(--background-secondary);
}

/**
 * AURAKA 點陣宋字型
 */
@font-face {
    font-family: 'Auraka';
    src: url('/fonts/Auraka.ttf');
}

/**
 * 蒙納繁圓點陣
 */
@font-face {
    font-family: 'MBitmapRoundHK';
    src: url('/fonts/MBitmapRoundHK-Light.otf');
}

/**
 * 國喬點陣字型
 */
@font-face {
    font-family: 'KC24M';
    src: url('/fonts/kc24m.ttf');
}

/**
 * ZPIX 點陣字型
 */
@font-face {
    font-family: 'Zfull';
    src: url('/fonts/Zfull-GB.ttf');
}

/**
 * 新細明體
 */
@font-face {
    font-family: 'Mingliu';
    src: url('/fonts/PMingLiU-02.ttf');
}

/**
 * 張海山銳諧體
 */
@font-face {
    font-family: 'Harmonic';
    src: url('/fonts/ZHS-Harmonic.ttf') format('truetype'),
        url('/fonts/ZHS-Harmonic.woff2') format('woff2'),
        url('/fonts/ZHS-Harmonic.woff') format('woff');
}

/**
 * 標楷體
 */
@font-face {
    font-family: 'Kaiu';
    src: url('/fonts/kaiu.ttf');
}

/**
 * 微軟正黑體
 */
@font-face {
    font-family: 'Microsoft JhengHei';
    src: url('/fonts/microsoft_jheng_hei.ttf');
}

/**
 * 極粗明朝體
 */
@font-face {
    font-family: 'MatissePro EB';
    src: url('/fonts/FOT-MatissePro-EB.otf');
}

/**
 * 台北黑體
 */
@font-face {
    font-family: 'Taipei Sans TC Beta';
    src: url('/fonts/TaipeiSansTCBeta-Bold.ttf');
}

/**
 * RocknRoll One-Regular
 */
@font-face {
    font-family: 'RocknRoll One-Regular';
    src: url('/fonts/RocknRollOne-Regular.ttf');
}

/**
 * DotGothic16-Regular
 */
@font-face {
    font-family: 'DotGothic16-Regular';
    src: url('/fonts/DotGothic16-Regular.ttf');
}

/**
 * Rampart One-Regular
 */
@font-face {
    font-family: 'Rampart One-Regular';
    src: url('/fonts/RampartOne-Regular.ttf');
}

/**
 * Reggae One-Regular
 */
@font-face {
    font-family: 'Reggae One-Regular';
    src: url('/fonts/ReggaeOne-Regular.ttf');
}

/**
 * Stick-Regular
 */
@font-face {
    font-family: 'Stick-Regular';
    src: url('/fonts/Stick-Regular.ttf');
}

/**
 * Klee One Regular
 */
@font-face {
    font-family: 'Klee One Regular';
    src: url('/fonts/KleeOne-Regular.ttf');
}

/**
 * Klee One SemiBold
 */
@font-face {
    font-family: 'Klee One SemiBold';
    src: url('/fonts/KleeOne-SemiBold.ttf');
}

/**
 * Train One-Regular
 */
@font-face {
    font-family: 'Train One-Regular';
    src: url('/fonts/TrainOne-Regular.ttf');
}

/**
 * DOS
 * 只支援英文、數字
 */
@font-face {
    font-family: 'DOS';
    src: url('/fonts/Fixedsys500c.eot')  format("eot"),
         url('/fonts/Fixedsys500c.woff') format('woff'),
         url('/fonts/Fixedsys500c.ttf')  format('truetype'),
         url('/fonts/Fixedsys500c.svg')  format('svg');
}
